body {
    font-family: "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    max-width: 1000px;
    margin: 2px;
}

@media (max-width: 400px) {
    body {
        padding: 0px;
        margin: 2px;
    }
}

a {
    color: #2c7df7;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: #2c7df7;
    text-decoration: underline;
    cursor: pointer;
}

/* Imported from OpenTezos customcss.css */
code {
    position: relative;
    top: -1px;
}

small {
    margin-bottom: 10px;
}

small[classname="figure"]::before {
    content: "\a";
    white-space: pre;
}

.p,
p {
    font-size: 18px;
    line-height: 1.8em;
    margin: 11px 0;
}

.green {
    color: #00ff28;
    margin-bottom: 10px;
}

.red {
    color: #ff0000;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    display: block;
    margin-bottom: 16px;
}

thead {
    background-color: rgba(0, 0, 0, 0.03);
}

th,
td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    border-bottom-width: 2px;
}

tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.03);
}

img {
    max-width: 98vw;
}

@media (min-width: 1000px) {
    img {
        max-width: 980px;
    }
}

details {
    background-color: rgb(238, 249, 253);
    border: 1px solid #4cb3d4;
    border-radius: 0.4rem;
    padding: 16px;
}

details[open] summary {
    padding-bottom: 16px;
    border-bottom: 1px solid #4cb3d4;
}

summary::marker {
    color: #4cb3d4;
}

.admonition {
    border-radius: 4px;
    background-color: #f0f0f0;
    border-left: 5px solid #aaa;
    padding: 12px;
    margin-bottom: 16px;
}

.admonition.admonition-tip {
    background-color: rgb(230, 246, 230);
    border-left-color: rgb(0, 148, 0);
    color: rgb(0, 49, 0);
}

.admonition.admonition-info {
    background-color: rgb(238, 249, 253);
    border-left-color: rgb(76, 179, 212);
    color: rgb(25, 60, 71);
}

.admonition.admonition-caution {
    background-color: rgb(255, 248, 230);
    border-left-color: rgb(230, 167, 0);
    color: rgb(77, 56, 0);
}

.admonition.admonition-danger,
.admonition.admonition-warning {
    background-color: rgb(255, 235, 236);
    border-left-color: rgb(255, 50, 56);
    color: rgb(75, 17, 19);
}

.admonition-title {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.admonition-title i.fas {
    margin-left: 8px;
    margin-right: 8px;
}

a.hash-link {
    opacity: 0;
}

a.hash-link::before {
    content: "#";
}

h1:hover a.hash-link,
h2:hover a.hash-link,
h3:hover a.hash-link,
h4:hover a.hash-link,
h5:hover a.hash-link,
h6:hover a.hash-link {
    opacity: 1;
    transition: opacity 0.5s;
}

pre[class*="language-"] {
    background-color: rgb(246, 248, 250);
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
div.notification-bar {
    background-color: #f7fafc;
    border: 1px solid #ededed;
    border-radius: 8px;
    color: #667184;
    line-height: 24px;
    margin: 30px 0;
    padding: 16px 40px
}

div.notification-bar,
div.notification-bar p {
    font-size: 14px;
}

small p {
    font-size: 1em;
}

blockquote {
    border-left: 2px solid #dadde1;
    margin-left: 0px;
    padding-left: 1rem;
}

div.table-wrapper {
    overflow-x: auto;
    max-width: 100%;
}

div.callout {
    position: relative;
    border-radius: 1.5rem;
    padding: 24px;
    padding-left: 72px;
    margin: 32px;
}

div.callout > svg {
    position: absolute;
    left: 24px;
    top: 24px;
}

div.callout-title {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: bold;
}

div.callout-note {
    background-color: rgb(240, 249, 255);
    color: rgb(7, 89, 133)
}

div.callout-note div.callout-title {
    color: rgb(12, 74, 110);
}

div.callout-warning {
    background-color: rgb(255, 251, 235);
    color: rgb(146, 64, 14);
}

div.callout-warning div.callout-title {
    color: rgb(120, 53, 15);
}

svg.callout-icon {
    width: 32px;
    height: 32px;
    flex: none;
}

figcaption {
    font-size: 0.875em;
    margin-top: 0.85em;
    color: rgb(100, 116, 139);
}